# .env file support
python_dotenv

# Python formatting
autopep8
flake8

# Python interpreter
ipython

# Static code analysis
bandit

# Database ORM and connectivity
SQLAlchemy
psycopg2-binary

# Python testing
pytest
pytest-cov

# Twitter
tweepy

# YAML formatting
yamllint

# Web service
bottle